section.feedback.container
    .feedback__container

        h2.title-section.feedback__title Давайте обсудим вашу задачу
        p.feedback__subtitle Заполните форму и получите ответ в течении 15 минут

        include ../form/form