section.about#about
    .about__container.container
        h2.title-section О нас
        p.about__desc В первую очередь, что вы должны о нас узнать — мы любим свое дело и уважаем своих клиентов. На регулярной основе наша команда занимается отрисовкой и восстановлением изображений в векторную графику уже более 5 лет. От логотипа — до сложных иллюстраций, от макетов полиграфии до производственных чертежей, и это еще не всё!

        ul.about__list

            li.about__item.about-item
                span.about-item__value От 15 минут
                span.about-item__text До готового результата

            li.about__item.about-item
                span.about-item__value 4000+
                span.about-item__text Выполненных заказов

            li.about__item.about-item
                span.about-item__value 50+
                span.about-item__text Постоянных клиентов

            li.about__item.about-item
                span.about-item__value 11000+
                span.about-item__text Выданных файлов