section.faq#faq
    .faq__container.container

        h2.title-section Часто задаваемые вопросы

        ol.faq__list

            li.faq__item
                p.faq__title Какие услуги (помимо дизайн-проекта) предоставляет дизайнер?
                .faq__content
                    p Помимо проектирование дизайн-проектов,мы так же предоставляем такие услуги:
                    ul
                        li -Подбор квартиры с дизайнером. На этапе покупки квартиры мы можем рассмотреть варианты планировочного решения по вашим запросам, что поможет выбрать наиболее подходящий вам вариант.
                        li -Home Staging - это дизайн-проект квартиры или дома под аренду или продажу. Проект будет отличаться по составу и цене, а так же будет изучаться ЦА для объекта.
                        li -Реализация проекта. Авторский надзор и комплектация, а так же можем провести ремонтные работы с помощью проверенных подрядчиков.
                        li -Любые консультационные услуги в сфере дизайна и ремонта помещений.

            li.faq__item
                p.faq__title Какие сроки отводятся на дизайн-проект?
                p.faq__content Конечно, у каждого сроки индивидуальны и зависят от многих обстоятельств, например, от сложности проекта, объема, сроков согласования заказчиком этапов. Но в среднем проект из 100 кв.м составляется за 3 месяца. Но к ремонтным работам вы можете приступить намного раньше, это примерно 2-3 недели работы над проектом, когда уже есть технические чертежи. Всё же я всегда советую приступать к разработке дизайн проекта заранее!

            li.faq__item
                p.faq__title В проекте будет законная перепланировка?
                p.faq__content При проектировании интерьера необходимо учитывать существующие строительные нормы и правила (СНиП), а также законодательство, которое регулирует перепланировку, изменения фасадов и другие аспекты в соответствии с нормативными актами. Наша команда специалистов тщательно изучает указанные вопросы, а также консультируется с инженерами для обеспечения соблюдения этих норм и правил.

            li.faq__item
                p.faq__title Какая гарантия, что все идеи из дизайн-проекта возможно реализовать?
                .faq__content
                    p Я со своей командой специалистов, выполняем дизайн-проект, который представляет собой не только планировку, фотографии и подбор материалов и мебели. В рамках нашего проекта мы предоставляем детальные чертежи для всех узлов, разверток и раскладок, детальные схемы стен, полов и потолков, а также привязки инженерных коммуникаций, включая электрические и санитарно-технические выводы, теплые полы, радиаторы отопления и многое другое. Кроме того, наш дизайн-проект разрабатывается в тесном сотрудничестве с инженерами, мы выбираем план лучшей и наиболее удобной реализации тех или иных решений. На этапе визуализации мы используем существующие материалы и предметы интерьера, вся информация о которых, указывается в ведомости проекта. Это дает абсолютную гарантию возможности реализации проекта. Мы уверены, что наши проекты отвечают всем требованиям и фундаментальным правилам в дизайне.

            li.faq__item
                p.faq__title Можно начинать проект без получения ключей от квартиры?
                p.faq__content Разработка дизайн-проекта может быть начата еще до сдачи квартиры и получения ключей. Часто нам удается договориться с застройщиком, отделом продаж или управляющей компанией, чтобы получить доступ на объект и провести детальные замеры, или получить всю информацию от них.  Это позволяет нам начать работу над проектом заранее. Проведя замеры и фотосъемку, мы получаем все необходимые данные, для работ 1 этапа- этот подход помогает нам эффективно планировать и разрабатывать дизайн-проект, чтобы заказчик мог получить свою идеальную квартиру в кратчайшие сроки.

            li.faq__actions
                p Не нашли ответа на свой вопрос? <br> Оставьте заявку и мы с вами свяжемся