- var reviewLink = "https://www.avito.ru/moskva/predlozheniya_uslug/otrisovka_v_vektore._vektornaya_grafika_2943572438#open-reviews-list"

section.reviews.container#reviews
    .reviews__container

        h2.title-section Отзывы

        .reviews__list

            article.reviews__item.reviews-item
                p.reviews-item__text Супер специалист и хороший человек. Сделал свою работу качественно, в сжатые сроки, еще и помог найти нормальную типографию (ту, которую нашла я пришлось бы долго ждать)
                .reviews-item__author
                    img.reviews-item__author-img(src="https://static.avito.ru/stub_avatars/%D0%9D/11_256x256.png")
                    span.reviews-item__author-name Наталья
                    a.reviews-item__author-link(href=reviewLink target="_blank") Отзыв с авито

            article.reviews__item.reviews-item
                p.reviews-item__text Всем советую данного специалиста! <br> Чуткий, внимательный, ответственный человек. Большое спасибо за Ваши прекрасные работы!
                .reviews-item__author
                    img.reviews-item__author-img(src="https://40.img.avito.st/image/1/1.PNvzl7a1hjLFMBI0h_dRvvg1kjJNPBI0xTCSMA.-l0stkFhfQCd7PQpVdJSd7rTCap2Rfivoi4bOSWvOqo")
                    span.reviews-item__author-name Елизавета Кравцова
                    a.reviews-item__author-link(href=reviewLink target="_blank") Отзыв с авито

            article.reviews__item.reviews-item
                p.reviews-item__text Все отлично. Сергей профессионал своего дела, работа была выполненна качественно. Рекомендую
                .reviews-item__author
                    img.reviews-item__author-img(src="https://20.img.avito.st/image/1/1.7wfC87a2Ve70VMHokPzLAU9QQ-R80EVscFBB.mZs6zth9S4GitlfWIqzRonb6J3117gVPq7IjN9-mcfM")
                    span.reviews-item__author-name Николай
                    a.reviews-item__author-link(href=reviewLink target="_blank") Отзыв с авито

        a.button.button--outline.reviews__button(href=reviewLink) Смотреть все отзывы


