.hero
  position: relative
  margin-top: 32px
  background-color: $white
  min-height: 70vh
  padding: 0
  @media (max-width: $width-mobile)
    margin-top: 0
    border-radius: 0
    width: 100%

  &__container
    padding: 172px 56px 32px
    display: grid
    grid-template-columns: repeat(12, 1fr)
    align-items: center
    gap: 48px 32px
    color: $black
    @media (max-width: $width-tablet)
      grid-template-columns: 1fr
      gap: 16px
      padding: 200px 16px 56px

  &__el-1
    grid-column: span 8
    @include fontSize(32, 92)
    @media (max-width: $width-tablet)
      grid-column: 1 / -1

  &__el-2
    grid-column: span 4
    @include fontSize(20, 24)
    @media (max-width: $width-tablet)
      grid-column: 1 / -1
      grid-row: 4 / 5
      justify-self: end
      text-align: end

  &__el-3
    grid-column: span 4
    @include fontSize(20, 28)
    @media (max-width: $width-tablet)
      grid-column: 1 / -1
      grid-row: 3 / 4

  &__el-4
    position: relative
    display: flex
    align-items: baseline
    gap: 16px
    grid-column: span 8
    color: $accent
    justify-self: end
    text-align: end
    @include fontSize(49, 128)
    @media (max-width: $width-tablet)
      grid-column: 1 / -1
      grid-row: 2 / 3
    @media (max-width: $width-mobile)
      img
        height: 40px
    @media (max-width: 480px)
      img
        height: 30px

  &__button
    position: relative
    justify-self: center
    margin-top: 100px
    grid-column: 1 / -1
    display: flex
    align-items: center
    gap: 8px
    &::after
      content: ""
      display: inline-block
      background-image: url("../img/icons/btn-decor.svg")
      width: 24px
      height: 24px