section.hero.container
    include ../header/header

    .hero__container
        span.hero__el-1 Студия дизайна
        span.hero__el-2 Разработка логотипа <br> и фирменного стиля
        span.hero__el-3 Превратим ваш бизнес <br> в узнаваемый бренд
        span.hero__el-4 Векторми
            img(src="./assets/img/logo-mobile.svg")


        button.button.button-butoon--fill.hero__button.js-brief-open Заказать дизайн
