section.hero.container
    include ../header/header

    .hero__container
        h1.hero__title Rorem ipsum dolor sit amet, consectetur adipiscing elit.
        h2.hero__subtitle Rorem ipsum dolor sit amet, <br> consectetur adipiscing elit.
        a.button.button-butoon--fill.hero__button Заказать дизайн



