section.brief#brief
    .brief__container.container
        button.brief__back &#8592;

        .brief__content
            h2.brief__title Бриф

            .brief__quiz.brief-quiz

                fieldset.brief-quiz__group

                    span.brief-quiz__group-caption Выберите услугу

                    label.brief-quiz__radio Разработка логотипа
                        input(type="radio" name="service" value="Разработка логотипа")
                        span

                    label.brief-quiz__radio Макет для полиграфии
                        input(type="radio" name="service" value="Макет для полиграфии")
                        span

                    label.brief-quiz__radio Отрисовка в векторе
                        input(type="radio" name="service" value="Отрисовка в векторе")
                        span

                fieldset.brief-quiz__group

                    span.brief-quiz__group-caption Сроки исполнения

                    label.brief-quiz__radio 1-3 рабочих дня
                        input(type="radio" name="time" value="1-3 рабочих дня")
                        span

                    label.brief-quiz__radio 4-7 рабочих дней
                        input(type="radio" name="time" value="4-7 рабочих дней")
                        span

                    label.brief-quiz__radio 8-14 рабочих дней
                        input(type="radio" name="time" value="8-14 рабочих дней")
                        span

                    label.brief-quiz__radio Сроки не ограничены
                        input(type="radio" name="time" value="Сроки не ограничены")
                        span


                fieldset.brief-quiz__group

                    span.brief-quiz__group-caption Готово ли техническое задание?

                    label.brief-quiz__radio Да
                        input(type="radio" name="task" value="Да")
                        span

                    label.brief-quiz__radio Нет
                        input(type="radio" name="task" value="Нет")
                        span

                    label.brief-quiz__radio Нужна помощь с составлением
                        input(type="radio" name="task" value="Нужна помощь с составлением")
                        span

