section.portfolio.container
    .portfolio__container

        h2.title-section.portfolio__title Портфолио

        .portfolio__tabs
            button.button.portfolio__tab.is-active Логотипы
            button.button.portfolio__tab Полиграфия
            button.button.portfolio__tab Векторы

        ul.portfolio__list.first
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item


        ul.portfolio__list.second.hidden
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item

        ul.portfolio__list.third.hidden
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item
            li.portfolio__item

        button.portfolio__show-more Показать еще
