footer.footer
    .footer__container

        addrress.footer__social
            a(href="##")
                span Telegram
                //svg

            a(href="##")
                span WhatsApp
                //svg

        .footer__logo
            img(src=`./assets/img/logo-desktop.svg` alt="Логотип Векторми")

        address.footer__contacts
            a(href="mailto:vectorme@mail.ru") vectorme@mail.ru
            a(href="tel: +79999999999") +7 999 999 99 99

        .footer__policy
            span 2024
            a(href="##" download) Политика конфиденциальности


include ../brief/brief
//include ../loader/loader