section.services.container#services
    .services__container
        h2.title-section Услуги

        ul.services__list

            li.services__item.services-item
                h3.services-item__title Разработка логотипа
                span.services-item__price От 5000 ₽

            li.services__item.services-item
                h3.services-item__title Макет для полиграфии
                span.services-item__price От 900 ₽

            li.services__item.services-item
                h3.services-item__title Отрисовка в векторе
                span.services-item__price От 500 ₽