section.services.container#services
    .services__container
        h2.title-section Услуги

        ul.services__list

            li.services__item.services-item
                h3.services-item__title Несложный макет, полиграфия
                span.services-item__price От 300 ₽

            li.services__item.services-item
                h3.services-item__title Логотип, принт, макет
                span.services-item__price От 500 ₽

            li.services__item.services-item
                h3.services-item__title Иллюстрация, чертеж
                span.services-item__price От 1000 ₽