extends ../layouts/main

block variables
    - var title = ""

block content
    include ../blocks/hero/hero
    include ../blocks/about/about
    include ../blocks/portfolio/portfolio
    include ../blocks/services/services
    include ../blocks/reviews/reviews