include ../blocks/mixins

block variables
  - var activePage = activePage

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        //[if IE]
        meta(http-equiv='X-UA-Compatible' content="IE = edge")

        meta(name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no")
        meta(name="keywords" content="")

        //favicon
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        link(rel="icon" href="favicon.ico" type="image/x-icon")

        link(rel="stylesheet" type='text/css' href="./assets/css/libs.min.css")
        link(rel="stylesheet" type='text/css' href="./assets/css/main.css")

        //[if lt IE 9]
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
        //[endif]




    body
        main.main
            block content
        #contacts
    script(src="./assets/scripts/libs.min.js")
    script(src="./assets/scripts/main.js" type="module")
    block script
