header.header
    .container.header__container
        a.header__logo(href='index.html') LOGO
            //include ../../img/icons/logo-light.svg

        nav.header__nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a.header-nav__link(href='##') О нас
                li.header-nav__item
                    a.header-nav__link(href='##') Портфолио
                li.header-nav__item
                    a.header-nav__link(href='##') Услуги
                li.header-nav__item
                    a.header-nav__link(href='##') Отзывы
                li.header-nav__item
                    a.header-nav__link(href='##') Задать вопрос
                li.header-nav__item
                    a.header-nav__link(href='##') Контакты

        button(type="button").header__burger
            span.header__burger-line.header__burger-line-1
            span.header__burger-line.header__burger-line-2
            span.header__burger-line.header__burger-line-3